body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.countdown-container {
    margin-top: 100px;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.time {
    margin: 0 10px;
}
